# Python & PyCharm spezifisch
__pycache__/
*.pyc
.idea/
.venv/
*.env
*.db
git/

# React / Node.js spezifisch
node_modules/
build/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist.zip
.env.development
frontend/src/components/special_nodes/


# Deine spezifischen, privaten Dateien
knowledge_base.db   # Oder wie auch immer deine SQLite-Datei heißt
create_hash.py
converter.py
Rename_Summary.py
migrate_drop_author.py
vacuum.py
secrets.json     # Falls du so etwas hast
credentials.txt  # Generell alle Dateien mit sensiblen Daten
backup/
Knowledge*Base*export/ 
Knowledge Base export/ 
secure_images/
backend/migrations/
testgitignore.py
backend/scripts/sync_docs.py
backend/scripts/benchmark.py
backend/scripts/reorder.py
backend/my_export.json

.gitignore
*_
*.pdf
*.epub
*.md
*.jpg
*.png
*.svg